
.main-content {
    min-height: 80vh;
    margin-top: 80px;
}

article {
  margin-top: 50px;
}

*:focus {
  outline: none;
}

.navbar-toggler {
  padding: 10px;
  border: 0px;
}

:target::before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}